{% extends "layout.html" %}
{% block content %}

	<h2> NPC Type: {{ ctype }} </h2>
	<h3> The police office wants all of your {{ stolentype }} </h3>

	<img src="https://images-na.ssl-images-amazon.com/images/I/61rHv8DaLML._SY679_.jpg" width="200" height="300">
	<br />

	<main class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="content-section">
					<li class="list-group-item list-group-item-secondary">
						<h4>What do you want to do?</h4>
					</li>
					<li class="list-group-item">
						<form method="POST" style="display: inline">
		                  <input type="radio" value="Forfeit" name="decide"> Forfeit the demanded items <br />
		                  <input type="radio" value="Flee" name="decide"> Attempt to Flee <br />
		                  <input type="radio" value="Fight" name="decide"> Fight the police <br />
		                  <br />
		                  <input type="submit" value="Submit" name="decide" class="btn btn-outline-info">
		                </form>
					</li>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}